<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>LightBox(Vue)</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,400i,800" rel="stylesheet" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/solid.css" integrity="sha384-QokYePQSOwpBDuhlHOsX0ymF6R/vLk/UQVz3WHa6wygxI5oGTmDTv8wahFOSspdm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/brands.css" integrity="sha384-n9+6/aSqa9lBidZMRCQHTHKJscPq6NW4pCQBiMmHdUCvPN8ZOg2zJJTkC7WIezWv" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/fontawesome.css" integrity="sha384-vd1e11sR28tEK9YANUtpIOdjGW14pS87bUBuOIoBILVWLFnS+MCX9T6MMf0VdPGq" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" media="screen" href="../style/lightbox.min.css" />
  </head>
  <!-- https://unsplash.com/collections/4519642/fox/e2034e3bfee50048b2e35fd2ac221f61 
  
  【特定技術】不可用 JS 框架，只能單純用原生 JS。

  【特定技術】需符合響應式設計，什麼你說設計稿沒提供？嗯，你是勇者嘛，通靈什麻的一定略懂略懂嘍

  【特定技術】當螢幕伸縮(resize)時，介面與 JS 功能也需正常
  -->
  <body>
      <header>
          <nav>
            <ul>
              <a href="../" >
                <li>原生JS版本</li>
              </a>
              <a href="./lightboxVue.html" class="onPage">
                <li>Vue版本</li>
              </a>
            </ul>
          </nav>
        </header>
    <main id="app">
      <div class="title">
        <span></span>
        <h1>
          <span>fox</span>
          <p>everywhere</p>
        </h1>
      </div>
      <div class="content">
        <ul id="content_img_list">
          <a href.prevent v-for="img in imgList" :key="img.id" >
            <li>
              <div
                class="img_box" 
                :style="{backgroundImage:`url(${img.src})`}" @click="modalDisplay=true"
              ></div>
            </li>
          </a>
        </ul>
      </div>
      <div class="modal" v-if="modalDisplay">
        <div class="modal_content">
          <div class="modal_text_content">
            <div class="number">
              <span class="current_img_num" v-text="currentImgIndex+1">1</span>
              <span class="total_img_num">/{{totalImg}}</span>
            </div>
            <div class="word">
              Have you ever seen the cute fox before?
              <p class="author">—Erik Mclean</p>
            </div>
          </div>
          <div
            class="modal_img_toggle_box"
            :style="{backgroundImage:` url(${currentImg})`}"
          >
            <a class="close_icon" href.prevent
              ><i class="fas fa-times-circle"@click="modalDisplay=false"></i></i
            ></a>
            <a href.prevent class="left_icon"><i class="fas fa-chevron-left" @click="goBack"></i></a>
            <a href.prevent class="right_icon"><i class="fas fa-chevron-right" @click="goForward"></i></a>
          </div>
        </div>
      </div>
    </main>
    <footer>
        <a href="https://github.com/s3267920/lightbox"> <i class="fab fa-github github_icon"></i></a>
      </footer>
      <script src='https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.10/vue.js'></script>
    <script src="../js/lightboxVue.js"></script>
  </body>
</html>